@import url('/src/assets/variables.scss');

.main {
    min-height: 100vh;
    background-color: var(--body-color);

    .home {
        position: relative;
        min-height: 100vh;
        left: 250px;
        width: calc(100% - 250px);
        transition: var(--tran-03);
        padding: 20px;


    }

    .home.close {
        left: 78px !important;
        width: calc(100% - 78px) !important;
    }
}