@import url('/src/assets/variables.scss');


.text {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
}

.cards {
    padding: 16px;
    border-radius: 8px;
    color: var(--text-color);
    cursor: pointer;
    height: 150px;
    width: 100%;
}

.drag_ghost_class {
    transform: rotate(-3deg);
    opacity: .8;
}

.chart-container{
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px;

}

#chart{
     svg{
         border-radius: 50px !important;
     }
}
