
<div class="Breadcrumb" data-aos="zoom-in"> Dashboard </div>

<!-- Tiles Stats -->
<div class="row">
    <!-- <ng-container *ngFor="let item of card_items; let i = index">
        <div class="col-md-2 col-sm-6 col-12 mb-2" 
            igxDrag
            igxDrop
            #dragRef
            id="{{item.id}}" 
            (dropped)="onIconDropped($event)" 
            (dragStart)="dragStartHandler(item.id)"
            (ghostCreate)="ghostCreateHandler(dragRef)"
            (dragEnd)="dragEndHandler(dragRef)"
            (enter)="onEnterHandler($event)"
            [ghostClass]="'drag_ghost_class'">
                <div class="dashboard-tiles" [ngStyle]="{'background-color': item.bg_color}"  draggable="false" onmousedown="if (event.preventDefault) event.preventDefault()" [attr.data-aos]="i%2==0?'flip-right': 'flip-left'" [attr.data-aos-delay]="i*150">
                    <h2>{{item.value}}</h2>
                    <h5>{{item.name}}</h5>
                </div>
        </div>
    </ng-container>  -->
   
    <ng-container *ngFor="let item of card_items; let i = index">
        <div class="col-md-2 col-sm-6 col-12 mb-2" >
            <div class="dashboard-tiles" [ngStyle]="{'background-color': item.bg_color}"  draggable="false" onmousedown="if (event.preventDefault) event.preventDefault()"  [attr.data-aos]="i%2==0?'flip-right': 'flip-left'" [attr.data-aos-delay]="i*150" >
                <h2>{{item.value}}</h2>
                <h5>{{item.name}}</h5>
            </div>
        </div>
    </ng-container> 


</div>


<!-- Graphs -->
<div class="row mt-4">
    <div class="col-12 chart-container" style="height: 415px;">
        <div id="chart" *ngIf="chartOptions3">
            <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [xaxis]="chartOptions3.xaxis"></apx-chart>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 chart-container" >
        <div class="row">
            <div class="row">
                <div id="chart" *ngIf="chartOptions2">
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [xaxis]="chartOptions2.xaxis"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 chart-container">
        <div id="chart" *ngIf="chartOptions4">
            <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [xaxis]="chartOptions4.xaxis"></apx-chart>
        </div>
    </div>
</div>