@import url('/src/assets/variables.scss');


.text {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
}

.cards {
    padding: 16px;
    border-radius: 8px;
    color: var(--text-color);
    margin: 1rem;
    cursor: pointer;
    height: 150px;
}

.drag_ghost_class {
    transform: rotate(-3deg);
    opacity: .8;
}