
<div class="row mb-4">
    <div class="text"> Dashboard </div>
</div>
<div class="row mb-4">
    <ng-container *ngFor="let item of card_items">
        <div class="col-md-2" 
            igxDrag
            igxDrop
            #dragRef
            id="{{item.id}}" 
            (dropped)="onIconDropped($event)" 
            (dragStart)="dragStartHandler(item.id)"
            (ghostCreate)="ghostCreateHandler(dragRef)"
            (dragEnd)="dragEndHandler(dragRef)"
            (enter)="onEnterHandler($event)"
            [ghostClass]="'drag_ghost_class'">
                <div class="cards" [ngStyle]="{'background-color': item.bg_color}"  draggable="false" onmousedown="if (event.preventDefault) event.preventDefault()">
                    <h2>{{item.value}}</h2>
                    <h5>{{item.name}}</h5>
                </div>
        </div>
    </ng-container> 

</div>

<div class="row">
    <div class="col-md-7 chart-container">
        <div class="row">
            <div class="row">
                <div id="chart" *ngIf="chartOptions1">
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [xaxis]="chartOptions1.xaxis"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-5 chart-container">
        <div id="chart" *ngIf="chartOptions2">
            <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [xaxis]="chartOptions2.xaxis"></apx-chart>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7 chart-container">
        <div class="row">
            <div class="row">
                <div id="chart" *ngIf="chartOptions3">
                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [xaxis]="chartOptions3.xaxis"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-5 chart-container">
        <div id="chart" *ngIf="chartOptions4">
            <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [xaxis]="chartOptions4.xaxis"></apx-chart>
        </div>
    </div>
</div>
