<div class="Breadcrumb" data-aos="zoom-in"> Analytics </div>

<!-- Filters -->
<div class="row filters">
    <div class="col" data-aos="flip-right">
        <label>Min Visitors:</label>
        <input type="number" class="form-control" [(ngModel)]="filter.minVisitors" placeholder="Enter Min Visitors">
        
    </div>
    <div class="col" data-aos="flip-right">
        <label>Max Visitors:</label>
        <input type="number" class="form-control" [(ngModel)]="filter.maxVisitors" placeholder="Enter Max Visitors">
    </div>
    
    <div class="col" data-aos="flip-right">
        <label>Min Conversion Rate:</label>
        <input type="number" class="form-control" [(ngModel)]="filter.minConversionRate" placeholder="Enter Min Conversion">
    </div>
    
    <div class="col" data-aos="flip-right">
        <label>Max Conversion Rate:</label>
        <input type="number" class="form-control" [(ngModel)]="filter.maxConversionRate" placeholder="Enter Min Conversion">
    </div>
    
    <div class="col" data-aos="flip-right">
        <button class="btn form-control mt-4">search</button>
    </div>
</div>

<div class="row mt-4">
    <div class="d-flex justify-content-end">
        <button class="btn download" (click)="downloadPdf()">Download PDF</button>
        <button class="btn download ms-2" (click)="downloadCsv()">Download CSV</button>
    </div>
</div>
<!-- Table Data -->
<div class="row mt-2">
    <div class="col-12">
        <table class="table" id="tableData">
            <thead>
              <tr>
                <th >#</th>
                <th class="text-center">Date</th>
                <th class="text-center">Visitors</th>
                <th class="text-center">Page Views</th>
                <th class="text-center">Bounce Rate</th>
                <th class="text-center">Session Duration</th>
                <th class="text-center">Conversion Rate</th>
                <th class="text-center">Revenue</th>
                <th class="text-center">New Users</th>
                <th class="text-center">Returning Users</th>
              </tr>
            </thead>
            <tbody *ngIf="!dataFetching">
                <tr *ngFor="let data of analyticsData; let i = index">
                    <td>{{ i+1 }}</td>
                    <td class="text-center">{{ data.date }}</td>
                    <td class="text-center">{{ data.visitors }}</td>
                    <td class="text-center">{{ data.pageViews }}</td>
                    <td class="text-center">{{ data.bounceRate }}%</td>
                    <td class="text-center">{{ data.sessionDuration }}</td>
                    <td class="text-center" [ngClass]="{ 'text-danger': data.conversionRate >50 , 'text-success': data.conversionRate <= 50 }">{{ data.conversionRate }}%</td>
                    <td class="text-center">{{ data.revenue }}</td>
                    <td class="text-center">{{ data.newUsers }}</td>
                    <td class="text-center text-success">{{ data.returningUsers }}</td>
                </tr>
            </tbody>
            <tbody *ngIf="dataFetching" [tableLoader]="loaderOptions"></tbody>
          </table>
    </div>
</div>