@import url('/src/assets/variables.scss');

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(97vh - 100px);

    .content {
        background-color: var(--sidebar-color);
        color: var(--text-color);
        border-radius: 12px;
        padding: 2rem;

        label {
            margin-top: 8px;
        }

        .button {
            display: flex;
            justify-content: center;

            button {
                margin-top: 16px;
                background: var(--primary-color);
                color: var(--toggle-color);
            }
        }

        .error {
            color: red;

            p {
                margin: 0;
            }
        }

    }

}