@import url('/src/assets/variables.scss');
.wrapper {
    margin-bottom: 5rem;

    .image-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: var(--sidebar-color);
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }

        button {
            position: relative;
            z-index: 100;
            border: none;
            width: 100%;
            padding: 8px 0;
            background: var(--active-color);
            color: #fff;

            i {
                color: #fff;
                margin-right: 8px;
            }
        }
    }
}