// Google Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;


    // Transition
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.main {
    height: 100vh;
    background-color: var(--body-color);

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--tran-05);

        header {
            position: relative;

            .image-text {
                display: flex;
                align-items: center;

                .image {
                    min-width: 60px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px;
                        border-radius: 6px;
                    }
                }

                .header-text {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: 600;
                    }

                    .profession {
                        margin-top: -2px;
                    }
                }
            }

            .toggle {
                position: absolute;
                top: 15px;
                right: -38px;
                height: 26px;
                width: 26px;
                background-color: var(--primary-color);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--sidebar-color);
                transform: translate(-50%) rotate(180deg);
                font-size: 22px;
                transition: var(--tran-03);
                cursor: pointer;
            }
        }

        li {
            height: 50px;
            margin-top: 10px;
            list-style: none;
            display: flex;
            align-items: center;

            .text,
            .icon {
                color: var(--text-color);
                transition: var(--tran-02);
            }

            a {
                text-decoration: none;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                transition: var(--tran-04);

                &:hover {
                    background: var(--primary-color);
                    border-radius: 8px;

                    .icon,
                    .text {
                        color: var(--sidebar-color);
                    }
                }
            }
        }

        .text {
            font-size: 16px;
            font-weight: 500;
            color: var(--text-color);
            transition: var(--tran-03);
            opacity: 1;
            white-space: nowrap;

        }

        .icon {
            font-size: 20px;
            min-width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-bar {
            height: calc(100% - 55px);
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .menu-items {

                .search-box {
                    background: var(--primary-color-light);
                    border-radius: 6px;

                    input {
                        height: 100%;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-radius: 6px;
                        background: var(--primary-color-light);
                    }
                }
            }
        }

        .bottom-content {

            .mode {
                background: var(--primary-color-light);
                position: relative;
                border-radius: 6px;

                .moon-sun {
                    height: 50px;
                    width: 60px;
                    display: flex;
                    align-items: center;

                    i {
                        position: absolute;
                    }
                }


                .toggle-switch {
                    height: 100%;
                    min-width: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    border-radius: 6px;

                    .switch {
                        height: 22px;
                        width: 44px;
                        border-radius: 25px;
                        background: var(--toggle-color);
                        position: relative;
                        cursor: pointer;

                        &::before {
                            content: '';
                            position: absolute;
                            border-radius: 50%;
                            top: 50%;
                            left: 5px;
                            transform: translateY(-50%);
                            height: 15px;
                            width: 15px;
                            background: var(--sidebar-color);
                            transition: var(--tran-03);
                        }
                    }
                }

            }
        }

        &.close {
            width: 78px;
            padding: 10px;

            .text {
                opacity: 0;
            }

            .toggle {
                transform: translateY(-0%);
                right: -27px;
            }

        }

    }
}



body {
    transition: var(--tran-02);

    &.dark {
        --body-color: #18191A;
        --sidebar-color: #242526;
        --primary-color: #3A3B3C;
        --primary-color-light: #3A3B3C;
        --toggle-color: #FFF;
        --text-color: #CCC;

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--text-color);
        }

        .sidebar header .toggle {
            color: var(--text-color);
        }

        .toggle-switch {
            .switch {
                background-color: var(--text-color) !important;

                &::before {
                    left: 25px !important;
                }
            }

        }

    }
}