// Google Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('/src/assets/variables.scss');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box !important;
}

ul {
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    transition: var(--tran-02) !important;

    &.dark {

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--text-color) !important;
        }

        .sidebar header .toggle {
            color: var(--text-color) !important;
        }

        .toggle-switch {
            .switch {
                background-color: var(--text-color) !important;

                &::before {
                    left: 25px !important;
                }
            }

        }

        .dashboard-tiles {
            background-color: var(--primary-color) !important;
        }

        header {
            background-color: var(--primary-color) !important;

            .toggle {
                color: var(--text-color) !important;
            }

            .moon-sun {
                i {
                    color: var(--text-color) !important;
                }
            }
        }
    }
}