// Google Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('/src/assets/variables.scss');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box !important;
}

ul {
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Breadcrumb {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    display: inline-block;
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
}

.loader {
    width: 40px;
    aspect-ratio: 4;
    margin-top: 6px;
    margin-left: 10px;
    background: radial-gradient(circle closest-side, #ffffff 90%, #ffffff00) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
    to {
        clip-path: inset(0 -34% 0 0)
    }
}

.toast-container .ngx-toastr {
    top: 50px;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 10px;

    span {
        font-size: 1.5rem;
        color: var(--text-color);
    }
}

.toast-success {
    border-left: 5px solid green;

    .toast-progress {
        background: green;
    }
}

.toast-error {
    border-left: 5px solid red;

    .toast-progress {
        background: red;
    }
}

.toast-warning {
    border-left: 5px solid rgb(255, 196, 0);

    .toast-progress {
        background: rgb(221, 206, 2);
    }
}

body {
    transition: var(--tran-02) !important;

    &.dark {
        .toast-success {
            border-left: 5px solid #3A3B3C;

            .toast-progress {
                background: #3A3B3C;
            }
        }

        .toast-error {
            border-left: 5px solid #3A3B3C;

            .toast-progress {
                background: #3A3B3C;
            }
        }

        .toast-warning {
            border-left: 5px solid #3A3B3C;

            .toast-progress {
                background: #3A3B3C;
            }
        }

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--text-color) !important;
        }

        .sidebar header .toggle {
            color: var(--text-color) !important;
        }

        .toggle-switch {
            .switch {
                background-color: var(--text-color) !important;

                &::before {
                    left: 25px !important;
                }
            }

        }

        .dashboard-tiles {
            background-color: var(--primary-color) !important;
        }

        header {
            background-color: var(--primary-color) !important;

            .toggle {
                color: var(--text-color) !important;
            }

            .moon-sun {
                i {
                    color: var(--text-color) !important;
                }
            }
        }
    }
}