<nav class="sidebar">
  <header>
      <div class="image-text">
          <span class="image">
              <img src="../../assets/logo.png" alt="">
          </span>

          <div class="text header-text">
              <span class="name">Coding</span>
              <span class="profession">Web Developer</span>
          </div> 
      </div>
  </header>

  <div class="menu-bar">
      <div class="menu-items">
          <li class="search-box nav-items">
              <i class='bx bx-search-alt-2 icon' ></i>
              <input type="text" placeholder="Search...">
          </li>
          <ul>
              <li>
                  <a routerLink="dashboard" routerLinkActive="active">
                      <i class='bx bxs-dashboard icon'></i>
                      <span class="text nav-text">Dashboard</span>
                  </a>
              </li>
              <li>
                  <a routerLink="analytics" routerLinkActive="active">
                      <i class='bx bxs-bar-chart-alt-2 icon'></i>
                      <span class="text nav-text">Analytics</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/">
                      <i class='bx bx-user icon'></i>
                      <span class="text nav-text">Users</span>
                  </a>
              </li>
              <li>
                  <a routerLink="change-password" routerLinkActive="active">
                    <i class="fa-solid fa-address-book icon"></i>
                    <span class="text nav-text">Contact Us</span>
                  </a>
              </li>
              <li>
                  <a routerLink="404" routerLinkActive="active">
                      <i class='bx bx-error-circle icon'></i>
                      <span class="text nav-text">404 Page</span>
                  </a>
              </li>
             
          </ul>
      </div>
      
      <div class="bottom-content">
          <li>
              <a href="#">
                  <i class='bx bxs-exit icon' ></i>
                  <span class="text nav-text">Logout</span>
              </a>
          </li>
      </div>
  </div>

</nav>