<nav class="sidebar">
  <header>
      <div class="image-text">
          <span class="image">
              <img src="../../assets/logo.webp" alt="">
          </span>

          <div class="text header-text">
              <span class="name">Coding</span>
              <span class="profession">Web Developer</span>
          </div> 
      </div>

      <i class='bx bx-chevron-right toggle' (click)="toggleSidebar()" *ngIf="!sidebar_state"></i>
      <i class='bx bx-chevron-left toggle' (click)="toggleSidebar()" *ngIf="sidebar_state"></i>
  </header>

  <div class="menu-bar">
      <div class="menu-items">
          <li class="search-box">
              <i class='bx bx-search-alt-2 icon' ></i>
              <input type="text" placeholder="Search...">
          </li>
          <ul class="menu-links">
              <li class="nav-link">
                  <a routerLink="dashboard">
                      <i class='bx bxs-dashboard icon'></i>
                      <span class="text nav-text">Dashboard</span>
                  </a>
              </li>
              <li class="nav-link">
                  <a routerLink="analytics">
                      <i class='bx bxs-bar-chart-alt-2 icon'></i>
                      <span class="text nav-text">Analytics</span>
                  </a>
              </li>
              <li class="nav-link">
                  <a href="#">
                      <i class='bx bx-user icon'></i>
                      <span class="text nav-text">Users</span>
                  </a>
              </li>
             
          </ul>
      </div>
      
      <div class="bottom-content">
          <li class="">
              <a href="#">
                  <i class='bx bxs-exit icon' ></i>
                  <span class="text nav-text">Logout</span>
              </a>
          </li>
          <li class="mode">
              <div class="moon-sun">
                  <i class='bx bxs-moon icon moon' *ngIf="darkMode"></i>
                  <i class='bx bxs-sun icon sun' *ngIf="!darkMode"></i>
              </div>
              <span class="mode-text text"> Dark Mode </span>
              <div class="toggle-switch" (click)="toggleDarkMode()">
                  <span class="switch"></span>
              </div>
          </li>

      </div>
  </div>

</nav>