@import url('/src/assets/variables.scss');

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1000;

    header {
        position: relative;

        .image-text {
            display: flex;
            align-items: center;

            .image {
                min-width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    border-radius: 6px;
                }
            }

            .profession {
                font-weight: 900;
                margin-top: -2px;
                font-size: 20px;
            }
        }

    }

    
    .text {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
        transition: var(--tran-03);
        opacity: 1;
        white-space: nowrap;

    }

    

    .menu-bar {
        height: calc(100% - 55px);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .menu-items {
            li {
                height: 50px;
                margin-top: 10px;
                list-style: none;
                display: flex;
                align-items: center;

                &.search-box {
                    background: var(--primary-color-light);
                    border-radius: 6px;
    
                    input {
                        height: 100%;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-radius: 6px;
                        background: var(--primary-color-light);
                    }
                }
        
                .text,
                .icon {
                    color: var(--text-color);
                    transition: var(--tran-02);
                }
        
                .icon {
                    font-size: 20px;
                    min-width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        
                a {
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    transition: var(--tran-04);
        
                    &:hover,
                    &.active {
                        background: var(--primary-color);
                        border-radius: 8px;
        
                        .icon,
                        .text {
                            color: var(--sidebar-color);
                        }
                    }
                }
            }
        }
    }


    &.close {
        width: 78px;
        padding: 10px;

        .text {
            opacity: 0;
        }

    }

}